
/*  General  */

/* Tipo De Letra  */
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

/* Config Circulo back-to-top  */
.back-to-top {
  /* Fixed sirve para que permanezca en la misma pos, sin importar si sube o baja*/
  position:fixed;
  /* Sirve para ocultarlo hasta que baje la pantalla*/
  opacity: 0;
  /* Que tan a la derecha o izquiera/ arriba o abajo quiero que este*/
  right: 15px;
  bottom: 15px;
  background: #1f5297;
  /* Tamaño círculo flecha */
  width: 40px;
  height: 40px;
  /* Que tan circular es */
  border-radius: 20px;
/* Cuanto tarda en aparecer */
  transition: 0.5s;
}

/* Config Flechita Back To Top */
.back-to-top i {
  /* Tamaño */
  font-size: 30px;
  /* Color */
  color: #fff;
}

/* :hover hace accion cuando el mouse esta Encima*/
.back-to-top:hover {
  background: #040b14;
}

/* Cuando vaya para abajo accione */
.back-to-top.active {
  /* Lo hace visible */
  opacity: 1;
}

/* Header */

/* Esta es la config de la barra de la izquierda */
#header {
  /*  hace que siempre aparezca donde esta aunque suban o bajen*/
  position: fixed;
  /* Posición de la barra */
  top: 0px;
  left: 0px;
  bottom: 0px;
  /* Tamaño de la barra */
  width: 300px;
  /* Para que tenga prioridad y no se interpongan configs de otros */
  z-index: 2;
  /*Ubicacion de iconos y palabras(0px altura 15px ancho)*/
  padding: 0px 15px;
  /* Color Fondo */
  background: #050d18;
}

/* Imagen Barra de la izquierda */
#header .profile img {
  /* Ubicación */
  margin: 30px 60px;
  /* Maxima ocupacion posible*/
  display: block;
  /* Tamaño Imagen */
  width: 150px;
  /* Borde */
  border: 8px solid #333;
}

/* Config Titulo(Tomas Korzusehec)*/
#header .profile h1 {
  /* Tamaño*/
  font-size: 25px;
  /*Ubicacion*/
  margin: 0px;
  padding: 0px;
  /* Grosor */
  font-weight: 700;
  /* Centrar */
  text-align-last:center;
  /* Fuente */
  font-family: "Poppins", sans-serif;
}


/*Personalización Titulo color*/
#header .profile h1 a
{
  color: #fff;
  text-decoration: none;
}
/* Idem arriba(solo cuando el mouse esta arriba) */
#header .profile h1 a:hover {
  color: #122f57;
  text-decoration:none;
}


/* Bueno*/
/* Config Social Links */
#header .profile .social-links a {
  /* Tamaño iconos */
  font-size: 18px;
  /* Para que este uno seguido del otro y en línea */
  display:inline-block;
  /* color fondo */
  background: #333;
  /* Color icono */
  color: #fff;
  /* Altura Iconos */
  line-height: 0px;
  /* ajuste icon Altura y Ancho */
  padding: 8px 0px;
  /* Margen entre cada icono */
  margin-right: 10px;
  /*Circularidad borde*/
  border-radius: 20px;
  /*Tamaño borde Ancho y Altura*/
  width: 38px;
  height: 38px;
  /* Transición */
  transition: 0.5s;
}

/*Idem arriba(Solo cuando esta el mouse*/
#header .profile .social-links a:hover {
  background: #1f5297;
  color: #111;
}

/* MARGEN del About, educacion, exp... para correr hacia la derecha y que se vea */
#main {
  margin-left: 300px;
}

/* Margen del Margen main */
.container, 
.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

/* Vista Dispositivos tablet o movil */
@media (max-width: 768px) {
  /* Hago desaparecer el nav */
  #header {
    height: 100vh;
    width: 100%;
  }

  #header nav{
    margin-left: 50px;
  }

  #header nav ul{
    font-size: 100px;
  }

  #main {
    margin-left: 0px;
  }

  /* Titulo imagen(Lo centro) */
  .tomas-container{
    left: -220px;
    
  }

  .container,
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* Navigation Menu */

/* Navegación Escritorio (Inicio, sobre mi, etc)*/
.nav-menu {
  padding: 30px 0 0 0;
}

@media (max-width:1199px){
  .nav-menu{
    padding: 25px 0 0px 10px;
  }
  .nav-menu ul a,
  .nav-menu ul a i {
    font-size: 23px;
    margin: 10px;
  }

#header .profile{
  margin: 0px 0px 0px 0px;
}

#header .profile img{
  margin-left: 105px ;
}

div .profile{
  margin-left: 50px;
}

.profile h1 a{
  font-size: 32px;
}

#header .profile .social-links a{
  margin-left: 5px;
}
}


.nav-menu * {
  margin: 0px;
  padding: 3px;
  list-style: none;
}



/* Enlaces Navegador(Sobre Mi, Educación, etc) */
.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 0px;
  transition: 0.3s;
  font-size: 15px;
}

/* Iconos navegador */
.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

/* Iconos navegador color letra_(mouse arriba) */
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

/* Iconos navegador color icono_(mouse arriba) */
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #1f5297;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 10000;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #1f5297;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

/* Icono de Cruz en nav */
.bi-x-circle-fill::before { content: "\f622"; }
.bi-x-circle::before { content: "\f623"; }
.bi-x-diamond-fill::before { content: "\f624"; }
.bi-x-diamond::before { content: "\f625"; }
.bi-x-octagon-fill::before { content: "\f626"; }
.bi-x-octagon::before { content: "\f627"; }
.bi-x-square-fill::before { content: "\f628"; }
.bi-x-square::before { content: "\f629"; }
.bi-x::before { content: "\f62a"; }

/* ICono de lista en nav */
.bi-list-check::before { content: "\f473"; }
.bi-list-nested::before { content: "\f474"; }
.bi-list-ol::before { content: "\f475"; }
.bi-list-stars::before { content: "\f476"; }
.bi-list-task::before { content: "\f477"; }
.bi-list-ul::before { content: "\f478"; }
.bi-list::before { content: "\f479"; }

/* Oculta cualquier cosa que desborde del header */
.mobile-nav-active {
  overflow: hidden;
}

/* Hace que aparezca el nav en el margen izquierdo */
.mobile-nav-active #header {
  left: 0px;
}

/*HASTA ACA CORRECCION*/ 

/*--------------------------------------------------------------
# tomas Section
--------------------------------------------------------------*/
#tomas {
  /* Pone el ancho y alto al 100% */
  width: 100%;
  height: 100vh;
  /* Centra la imágen en modo celu */
  background: url("../img/Foto-tk.jpeg") top center;
  /* La imagen cubrirá todo el contenedor */
  background-size: cover;
}

/* Sombreado imagen*/
#tomas:before {
  content: "";
  /* Se pone rgba para que haya transparencia */
  background: rgba(0, 0, 0, 0.6);
  /* Solo cubre la imagen */
  position: absolute;
  /*Altura y ancho*/
  width: 100%;
  height: 100vh;
}

/*Ubicación h1 "TomasKorzusehec"*/
#tomas .tomas-container {
  
  position: relative;
  min-width: 300px;
  margin-top: -250px;
  margin-left: 550px;
}

/*Tamaño h1 "TomasKorzusehec"*/
#tomas h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: px;
  color: #fff;
}

/* Tamaño h1 TomasKorzusehec cuando se entra a pantalla donde no esta el nav */
@media (max-width: 1199px) {
  #tomas h1{
    
      font-size: 28px;
      line-height: 36px;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

/* Separacion títulos */
section {
  padding: 40px 0;
  overflow: hidden;
}

/* Color fondo Section */
.section-bg {
  background: rgba(14, 57, 75, 0.3);
}

/* Separación Sections title */
.section-title {
  padding-bottom: 30px;
}

/* Config h2 titulos */
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #122f57;
}

/* Barrita h2 config */
.section-title h2::after {
  /* Frase en blanco para que aparezca sin texto */
  content: "";
  position: absolute;
  /* Tamaño */
  width: 75px;
  height: 4px;
  background: #122f57;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
  color: #0e2442;
}

/*
#
 Sobre mi
*
/

/* Subtitulo about */
.about .content h3 {
  /* Tamaño letra */
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

/* Listas */
.about .content ul {
  list-style: none;
  padding: 0;
}

/* Listas */
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* Separacion negrita */
.about .content ul strong {
  margin-right: 10px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


#footer {
  background: url("../img/FotoYo.jpeg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#footer .container {
  position: relative;
}

/*Personalización Titulo color*/
#footer h3 a{
  right: 100px;
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: 700;
  line-height: px;
  color: #fff;
  text-decoration:none;
}

#footer h3 a:hover{
  color: #122f57;
  text-decoration:none;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

/*bueno*/
#footer .social-links a {
  /* Tamaño iconos */
  font-size: 18px;
  /* Para que este uno seguido del otro y en línea */
  display:inline-block;
  /* color fondo */
  background: #333;
  /* Color icono */
  color: #fff;
  /* Altura Iconos */
  line-height: 0px;
  /* ajuste icon Altura y Ancho */
  padding: 8px 0px;
  /* Margen entre cada icono */
  margin-right: 10px;
  /*Circularidad borde*/
  border-radius: 20px;
  /*Tamaño borde Ancho y Altura*/
  width: 38px;
  height: 38px;
  /* Transición */
  transition: 0.5s;
}

#footer .social-links a:hover {
  background: #1f5297;
  color: #111;
}


/* extras */

.margintopbutton2{
  margin-top: 25px;
}

html {
  scroll-behavior: smooth;
}